@tailwind base;
@tailwind components;
@tailwind utilities;

.lottieburst {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 15%;
}

body{
    background-color: #1f1f1f;
    height: 100vw;
}